#card-frame {
    position: relative;
    margin-top: 8rem;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);

    .card-img {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.35);
        }
    }

    > .card-body {
        padding-top: 8rem;

        > .card-title {
            position: absolute;
            top: 115px;
            left: 0;
            z-index: 999;
            color: $white;
            text-align: center;
            width: 100%;
        }

        .card-form {
            position: absolute;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);
            width: 60%;
            padding: 2rem;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

            input {
                background-color: $gray-100;
            }
        }

    }




}