// Fonts
$font-family-sans-serif: 'Ubuntu', sans-serif;
$font-family-serif: 'Alice', serif;

$headings-font-family: $font-family-serif;

// Color Scheme
$primary: #BA9A73;
$secondary: #62606D;
$success: #83C1DD;
$info: #ADAFB9;

// Settings for '<body' element.
$body-bg: $secondary;

